/* Styles */

html,
body {
    font-family: 'Roboto', 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;

}

audio {
    width: 100%;
    margin-top: 10px;
}

a {
    color: white;

}


* {
    margin: 0;

}

h2 {

    font-weight: 400;
}

ul {
    color: black;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    vertical-align: middle;
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;

}

img:hover {
    animation: imgClickIn ease 0.1s;
    transform: scale(0.98);

}

.content {
    min-height: 100%;
    height: 100%;



}

.content #bg-opacity {
    background-color: rgba(0, 0, 0, 0);
    min-height: 100vh;
    height: 100%;
    animation: anchorAnimationOut ease 0.5s;

}

.content #bg-opacity:hover {
    animation: anchorAnimationIn ease 0.5s;
    background-color: rgba(0, 0, 0, 0.4);

}

.content #bg-opacity:hover > .article-bg {

    animation: articleBrightnessIn ease 0.5s;
    animation-fill-mode: forwards;
    filter: brightness(0.8);

}

.content #bg-opacity:hover > .title {
    filter: brightness(0.8);
    animation: articleBrightnessIn ease 0.5s;
    animation-fill-mode: forwards;


}


/* OLD OLD OLD 
.top-bar {
    position: fixed;
    background: #7f7f7f;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
  
    
}

.top-bar h1 {
    float: left;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
}

nav {
    float: right;
    margin-right: 5%;
    margin-top: 30px;

}

nav a {
    text-decoration: none;
    font-weight: 700;

}

a:visited {
    text-decoration: none;
    font-weight: 700;
    color: white;

}

nav a:hover {
    text-decoration: underline;
}

*/

html > body .content {
    height: auto;


}

/*Articles class set up */

.title {

    height: auto;
    width: 65%;
    margin-left: 15%;
    margin-right: 20%;
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 3px solid white;





}

.article-bg {
    overflow: hidden;
    height: auto;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background: white;
    border-bottom-left-radius: 20px;



}

.audio {
    margin-bottom: 20px;
}


.title,
.article-bg {
    filter: brightness(0.8);

    animation: articleBrightnessOut ease 1s;

}



.article {
    line-height: 1.2em;
    overflow: hidden;
    background: white;
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: auto;

}

.article h2,
p {

    padding: 10px;
    color: black;
}


.linkText {
    color: black;
    border-left: 3px lightgrey solid;
    display: block;
    margin-left: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-weight: bold;


}

.material-icons.md-24 {
    font-size: 24px;
}

.navigation {
    position: fixed;
    right: 20px;
    padding: 10px;
    height: auto;
    width: auto:;

    border-radius: 10px;
    border: none;
    color: white;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

#fullscreen:focus,
#to_top:focus {
    outline: none;
}

#fullscreen:hover,
#to_top:hover {
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    transform: scale(1.05);

}

#fullscreen:active,
#to_top:active {
    transform: scale(0.80);
}

.navigation,
i {
    text-align: center;
    vertical-align: middle;
}



#fullscreen,
#to_top {

    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}





/* First page with links to my subjects */

#one {
    overflow: hidden;

    background-image: linear-gradient(to bottom right, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);

    /*animation*/
    background-size: 150% 100%;

    animation: gradientAnimation 15s ease infinite;

    height: 100vh;

}

#oneSemester4 {
    overflow: hidden;

    background-image: linear-gradient(to bottom right, #09203f 0%, #537895 200%);


    /*animation*/
    background-size: 200% 100%;

    animation: gradientAnimation 15s ease infinite;

    height: 100vh;

}

.wrapper {

    margin-left: 5%;
    width: 100%;
    height: 100%;
    display: inline-block;

}



#one .nav-vakken {


    width: 50%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


}

#oneSemester4 .nav-vakken {


    width: 50%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


}

.box {
    position: sticky;
    padding: 10px;
    width: 300px;
    height: auto;
    float: right;
    margin-top: 20px;
    margin-right: 20%;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
}

a img {}

.box p {

    color: white;
}



#one a {
    text-decoration: none;
    font-weight: 400;
    display: block;
    margin-top: 70px;
    font-size: 24px;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    padding-top: 5px;


}



#one .nav-vakken a:nth-child(3) {
    margin-top: 20px;
}

#oneSemester4 a {
    text-decoration: none;
    font-weight: 400;
    display: block;
    margin-top: 100px;
    font-size: 24px;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    padding-top: 5px;


}



#oneSemester4 .nav-vakken a:nth-child(3) {
    margin-top: 20px;
}

.nav-vakken #semesters {

    display: inline;
    color: white;
    font-weight: 400;
    border-bottom: 0px solid white;
    font-size: 16px;


}


/* Second page with content */

#two {
    overflow: hidden;
    background: linear-gradient(132deg, #13547a, #80d0c7);

}




#three {
    overflow: hidden;

    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);

}

#four {
    overflow: hidden;
    background-image: linear-gradient(45deg, #F05F57 0%, #360940 100%);
}

#five {
    overflow: hidden;
    background: linear-gradient(to bottom right, #0ba360, #3cba92);
}


/* Animation Code */

@keyframes imgClickIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.98);
    }
}

@keyframes articleBrightnessIn {
    0 {
        filter: brightness(0.8);

    }
    100% {
        filter: brightness(1);

    }
}

@keyframes articleBrightnessOut {
    0 {
        filter: brightness(1);
    }
    100% {
        filter: brightness(0.8);
    }
}

@keyframes anchorAnimationIn {
    0% {
        background-color: rgba(0, 0, 0, 0);


    }
    100% {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@keyframes anchorAnimationOut {
    0% {
        background-color: rgba(0, 0, 0, 0.4);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}



@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*Media Queries*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .title {

        height: auto;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
        padding-top: 40px;
        padding-bottom: 10px;
        border-bottom: 3px solid white;

    }


    .article-bg {
        height: auto;
        width: 100%;

        margin-bottom: 0px;
        border-bottom-left-radius: 0px;
    }

    #one .nav-vakken {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 90%;


    }

    #oneSemester4 .nav-vakken {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 90%;


    }


    #one a {

        font-weight: 400;
        display: block;
        margin-top: 40px;
        font-size: 18px;
        width: auto;
        border-bottom: solid 2px white;

    }

    #oneSemester4 a {

        font-weight: 400;
        display: block;
        margin-top: 40px;
        font-size: 18px;
        width: auto;
        border-bottom: solid 2px white;

    }


    .top-bar h1 {



        margin-bottom: 10px;
        font-weight: 700;
        font-size: 25px;
    }

    .article {

        line-height: 1.5;
        width: auto;
    }


}

*/
/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .article-bg {

        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }



}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .article-bg {

        width: 70%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .article-bg {
        width: 40em;
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .article-bg {
        width: 50em;
        margin-left: 20%;
        margin-right: 20%;
    }
}
